.main-content {
    margin-top: 1.5%
}

.task-list {
    width: 50%;
}

.navbar-logo {
    fill: green;
    width: 30px;
    height: 30px;
}

.page-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}