{% extends "base.html" %}
{% block content %}
    <div class="container main-content">
    <div class="page-heading">
        <h1>Expenses</h1>
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addExpense" id="create-btn">Add Expense</a>
    </div>
    <hr>
        <div class="container">
            <ul class="list-group list-group-flush">
            {% for exp in expenses %}
                <div class="container">
                    <div class="row">
                    <li href="#" class="list-group-item list-group-item-action d-flex align-items-center {% if exp.settled%} list-group-item-primary {% else %} list-group-item-danger {% endif %}">
                        <div class="col-md-5">
                            <span  {% if exp.settled %} style="text-decoration: line-through" {% endif %}>{{ exp.name }} paid by {{app.get_user_paid_by(exp)}}</span>
                        </div>
                        <div class="col-md-2">
                            <span>₱{{ exp.value }}</span>
                        </div>
                        <div class="col-md-2">
                            <span>{{ app.get_user_paid_by(exp) }}</span>
                        </div>     
                        <div class="col-md-1">
                            <!--Assign a unique ID based on the expense ID-->
                            <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modifyExpense" id="modifyButton{{ loop.index0 }}">Modify</a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-danger" href="{{ url_for('remove', index=loop.index0)}}">Delete</a>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-success" href="{{ url_for('settle', index=loop.index0)}}">Settle</a>
                        </div>
                    </a>
                    </div>
                </div>
            {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Create new expense modal -->
    <div class="modal fade" id="addExpense" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5">Add new expense</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container create-item">
                    <div class="form-group">
                    <form action="{{ url_for('create') }}" method="POST">
                        <div class="input-group mb-3">
                        <input type="text" name="name" placeholder="Enter name for the expense" class="form-control" required oninvalid=>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">₱</span>
                            <input type="number" min="0" class="form-control" placeholder="Amount in PHP" name="amount" required>
                            <span class="input-group-text">.00</span>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Paid by</label>
                            <select class="form-select" id="inputGroupSelect01" name="paidBy">
                                {% for user in users %}
                                <option value="{{ user.id }}">{{ user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="newEquallySplit" name="newEquallySplit" checked>
                                <label class="form-check-label" for="newEquallySplit">Split equally</label>
                            </div>
                            <div>
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modify expense modal -->
    <div class="modal fade" id="modifyExpense" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5">Modify expense</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                    <div class="form-group">
                    <!-- Form action is appended with script.js to route to flask modify function-->
                    <form method="POST">
                        <div class="input-group mb-3">
                            <input type="text" name="newName" placeholder="Enter new name for the expense" class="form-control" required oninvalid=>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">₱</span>
                                <input type="number" min="0" class="form-control" placeholder="New amount in PHP" name="newAmount" required>
                                <span class="input-group-text">.00</span>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Paid by</label>
                                <select class="form-select" id="inputGroupSelect01" name="newPaidBy">
                                    {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.name }}</option>
                                    {% endfor %}
                                </select>
                        </div>
                        
                        <div class="modal-footer d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="equallySplit" name="newEquallySplit" checked>
                                <label class="form-check-label" for="equallySplit">Split equally</label>
                            </div>
                            <div>
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning" id="modalModifyButton">Modify</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}